.hero-section2-android {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: #000212;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 0;
}

.hero-section2-android .hero-contain-android {
  position: relative;
  color: var(--white);
  padding: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem) 0;
  height: 100%;
  z-index: 0;
}

.hero-section2-android .hero-contain-android::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -120px;
  width: 125px;
  height: 130px;
  background-image: url(../../../assets/img/other/shape/gradient-curve-line.svg);
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: -10% 25%;
  z-index: -1;
}

.hero-section2-android .hero-contain-android .main-title {
  font-size: clamp(1.875rem, 0.6021rem + 4.0733vw, 3.125rem) !important;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-section2-android .hero-contain-android .sub-title {
  font-size: clamp(1.125rem, 1.0528rem + 0.3082vw, 1.25rem) !important;
  font-weight: 400;
}

.hero-section2-android.if-white {
  padding: clamp(8.125rem, 1.5339rem + 5.0916vw, 4.6875rem) 0;
  background-color: #fff;
}

.hero-contain-android .main-title.black {
  color: #222222;
}

.hero-contain-android .sub-title.black {
  color: #222222;
}

.frame-circle-android {
  position: relative;
}

.frame-circle-android::after {
  position: absolute;
  content: '';
  top: 60%;
  right: -57%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/svg/circle-frame.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: heart-beat 10s infinite;
  z-index: -1;
}

@media (min-width: 600px) {
  .play-store:after {
    content: '';
    position: absolute;
    top: 100px;
    left: 60px;
    z-index: 2;
    width: 53px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../../assets/img/svg/play-store.svg);
    animation: heart-beat 3.4s infinite;
  }

  .android:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../../assets/img/svg/android.svg);
    animation: heart-beat 3.4s infinite;
  }

  .robot:after {
    content: '';
    position: absolute;
    top: 90px;
    right: -14px;
    z-index: 2;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../../assets/img/svg/robot.svg);
    animation: heart-beat 3.4s infinite;
  }
}

@media (min-width: 768px) {
  .set-shape-android {
    position: relative;
  }

  .set-shape-android::after {
    content: url(../../../assets/img/other/shape/text-shape.svg);
    position: absolute;
    top: -20%;
    transform: translateX(-45%);
  }
}