.native-frame:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -11.3%;
  width: clamp(25rem, -48.4545rem + 153.0303vw, 37.625rem);
  height: clamp(25rem, -48.4545rem + 153.0303vw, 37.625rem);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../assets/img/svg/react-native/rotateImage.svg);
  animation: native-ani 12s linear infinite;
  z-index: -1;
}

@keyframes native-ani {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}