.our-value-body {
  display: flex;
  gap: 14px;
  max-width: 1300px;
  overflow-x: auto;
}

.our-value-body .card {
  position: relative;
  height: 360px;
  flex: 0 0 clamp(5.625rem, -5.1373rem + 22.4215vw, 8.75rem);
  justify-content: end;
  z-index: 0;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.our-value-body .card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #191a4eb2;
  z-index: 1;
  transition: all 0.3s ease;
}

.our-value-body .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.our-value-body .card .card-body .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.our-value-body .card .card-body .img-box .client-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;
}

.our-value-body .card .card-body .img-box .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.our-value-body .card .main-text {
  font-size: clamp(1.375rem, 1.2477rem + 0.4073vw, 1.5rem) !important;
  font-weight: 700;
  position: relative;
  color: var(--white);
  text-wrap: nowrap;
  margin-bottom: 0;
  transform: rotate(-90deg) translateX(20px);
  transition: all 0.4s ease-in;
  z-index: 2;
}

.our-value-body .card .sub-text {
  font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem) !important;
  font-weight: 400;
  margin-bottom: 0;
  opacity: 0;
  transition: all 0.4s ease-in;
  color: var(--white);
  z-index: 2;
}

.our-value-body .card.active {
  flex: 0 0 300px;
  transition: all 0.4s ease-in;
}

.our-value-body .card.active .card-body .img-box .play-btn {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.our-value-body .card.active .main-text {
  transform-origin: left center;
  transform: rotate(0deg);
  transition: all 0.4s ease-in;
}

.our-value-body .card.active .sub-text {
  opacity: 1;
  transition: all 0.4s ease-in;
}

.our-value-body .card.active::after {
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s ease;
}

.our-value-body .card.active .img-box {
  z-index: 2;
}

@media (min-width: 768px) {
  .our-value-body .card.active {
    flex: 1;
  }

  .our-value-body .card:hover {
    flex: 1;
  }
}