.game-slider .industry-card-startups {
  border-radius: 0 !important;
  border: none;
  border-radius: 1rem !important;
}

.card.industry-card-startups {
  width: 280px;
  height: 386px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card.industry-card-startups .card-body {
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease;
}

.card.industry-card-startups .card-body .icon {
  margin-bottom: 1rem;
}

.card.industry-card-startups .card-body .title {
  font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.card.industry-card-startups .card-body .text {
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  line-clamp: 5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 120px;
  transition: all 0.3s ease;
}

.card.industry-card-startups .card-img img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-56%, -20%);
  width: 90%;
  height: 5.375rem;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center bottom;
  transition: all 0.3s ease;
}

.card.industry-card-startups .card-img::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

.card.industry-card-startups:hover .card-img img {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 100%;
  margin-inline: 0;
  object-position: center;
  border-radius: 0;
  transition: all 0.3s ease;
}

.card.industry-card-startups:hover .card-body .text {
  -webkit-line-clamp: unset;
  overflow: visible;
  white-space: normal;
  height: 100%;
  transition: all 0.3s ease;
}

.card.industry-card-startups:hover .card-img::after {
  opacity: 1;
  top: 0;
  background-color: #00000080;
  transition: all 0.3s ease;
}

.card.industry-card-startups:hover .card-body {
  color: #ffff;
  transition: all 0.3s ease;
}

.btn-flush {
  padding-left: 20px;
}
