.section-get-in-touch-android {
  position: relative;
  background-color: var(--black); 
  color: var(--white);
  overflow: hidden;
  z-index: 0;
  padding-top: 70px;
  background-image: url(../../../assets/img/other/shape/Perspective-Grid-achivement.svg),
    url(../../../assets/img/svg/ios-app-dev/left-bg-1.svg),
    url(../../../assets/img/svg/ios-app-dev/right-bg-1.svg);
  background-repeat: no-repeat, no-repeat, no-repeat; 
  background-size: cover, auto, auto; 
  background-position: center, 0 150px, 100% 0%;
}

.section-get-in-touch-android .title {
  font-size: clamp(1.625rem, 1.3709rem + 0.813vw, 1.875rem);
  font-weight: 500;
  margin-bottom: 1rem;
}

.section-get-in-touch-android .sub-title {
  font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
  font-weight: 400;
  margin-bottom: 2rem;
}
.section-get-in-touch-android.green::before,
.section-get-in-touch-android.green::after {
  background-color: #1aada3;
  filter: blur(100px);
}

