

.form-get-section .card .card-header {
    background-color: var(--white);
    border: none;
    border-radius: .75rem;
}

.form-get-section .card .card-header .nav-tabs {
    border-bottom: 1px solid var(--Metal-light-color);
}

.form-get-section .card .card-header .nav-tabs .nav-link {
    border: none;
    margin-bottom: 0;
    font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem) !important;
    padding: .9375rem;
    font-weight: 500;
}

.form-get-section .card .card-header .nav-tabs .nav-link.active {
    border-bottom: 1px solid #191A4E;
    color: #191A4E;
}