.hero-section-flutter {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: #000212;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 0;
}
@media (min-width: 768px) {
  .hero-section-flutter .hero-contain-flutter {
    position: relative;
    color: var(--white);
    padding: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem) 0;
    height: 100%;
    z-index: 0;
  }

  .hero-section-flutter .hero-contain-flutter::after {
    content: '';
    position: absolute;
    top: 34px;
    left: -76px;
    width: 125px;
    height: 130px;
    background-image: url(../../../assets/img/svg/bespoke-software-development/shape_3.svg);
    background-size: 125px;
    background-repeat: no-repeat;
    background-position: -10% 25%;
    z-index: -1;
  }
}

.hero-section-flutter .hero-contain-flutter .main-title {
  font-size: clamp(1.875rem, 0.6021rem + 4.0733vw, 3.125rem) !important;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-section-flutter .hero-contain-flutter .sub-title {
  font-size: clamp(1.125rem, 1.0528rem + 0.3082vw, 1.25rem) !important;
  font-weight: 400;
  color: var(--white);
}
.frame-bg-flutter {
  position: relative;
}

.frame-bg-flutter::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -43%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/svg/ios-app-dev/frame-circle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: heart-beat 3.4s infinite;
  z-index: -1;
}
.flutter-app .flutter-silver:after {
  content: '';
  position: absolute;
  width: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  height: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../../assets/img/svg/flutter-app-development/flutter_svgrepo.com.svg);
  animation: flutter-ani 5.4s forwards infinite;
}

.flutter-app .setting-silver:after {
  content: '';
  position: absolute;
  width: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  height: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../../assets/img/svg/flutter-app-development/applications-system_svgrepo.com.svg);
  animation: flutter-ani2 5.4s forwards infinite;
}

.flutter-app .programming-silver:after {
  content: '';
  position: absolute;
  width: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  height: clamp(2.75rem, 2.4375rem + 1vw, 3rem);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../../assets/img/svg/flutter-app-development/mobile-programming_svgrepo.com.svg);
  animation: flutter-ani3 5.4s infinite;
}
@keyframes flutter-ani {
  0% {
    top: 8%;
    left: 8%;
  }
  50% {
    top: 7%;
    left: 11%;
  }

  100% {
    top: 8%;
    left: 8%;
  }
}
@keyframes flutter-ani2 {
  0% {
    bottom: 40%;
    left: 8%;
  }
  50% {
    bottom: 30%;
    left: 10%;
  }
  100% {
    bottom: 40%;
    left: 8%;
  }
}
@keyframes flutter-ani3 {
  0% {
    top: 10%;
    right: 7%;
  }
  50% {
    top: 6%;
    right: 10%;
  }
  100% {
    top: 10%;
    right: 7%;
  }
}
@media (min-width: 768px) {
  .set-shape-flutter {
    position: relative;
  }

  .set-shape-flutter::after {
    content: url(../../../assets/img/other/shape/text-shape.svg);
    position: absolute;
    top: -20%;
    transform: translateX(-45%);
  }
}
