.namedown-primary-color {
  color: #2d3454;
}

.namedown-primary-bg {
  background-color: #396db5;
}
.namedown-primary-bg-light {
  background-color: #d4e6f7;
  border-color: #d4e6f7;
}

.ptb--80 {
  padding: 80px 0 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.bg_color--5 {
  background: #f8f9fc;
}

.br-10 {
  border-radius: 10px !important;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #191a4e;
}
.br-15px {
  border-radius: 15px;
}
.fs-38 {
  font-size: 38px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 15px;
}
.fw-500 {
  font-weight: 500 !important;
}
@media (min-width: 992px) {
  .p-lg-40 {
    padding: 40px !important;
  }
  .mb-lg--0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .mb-md--0 {
    margin-bottom: 0 !important;
  }
}

.portfolio-style1 .grid-utrade-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "div1 div3"
    "div2 div3"
    "div4 div4";
}

.portfolio-style1 .grid-utrade-view .div1 {
  grid-area: div1;
}

.portfolio-style1 .grid-utrade-view .div2 {
  grid-area: div2;
}

.portfolio-style1 .grid-utrade-view .div3 {
  grid-area: div3;
}

.portfolio-style1 .grid-utrade-view .div4 {
  grid-area: div4;
}

.portfolio-style1 .grid-utrade-view .div1,
.portfolio-style1 .grid-utrade-view .div2,
.portfolio-style1 .grid-utrade-view .div3,
.portfolio-style1 .grid-utrade-view .div4 {
  background-color: #1b74e4;
}

.portfolio-style1 .grid-utrade-view .div2 img {
  width: clamp(6.25rem, -8.3885rem + 46.8432vw, 20.625rem);
}

.portfolio-style1 .grid-utrade-view .div3 img {
  width: clamp(3.75rem, -3.5692rem + 23.4216vw, 9.9375rem);
}

.portfolio-style1 {
  background-color: #eff6ff;
}

.portfolio-card {
  /* border-radius: 0.75rem; */
  padding: clamp(0.625rem, 0.2431rem + 1.222vw, 1rem);
}

.portfolio-card .info-card {
  padding: clamp(0.9375rem, 0.301rem + 2.0367vw, 1.5625rem);
}

.portfolio-card .info-card .logo-img {
  margin-bottom: 1.5rem;
}

.portfolio-card .info-card .main-text {
  font-size: clamp(1.375rem, 1.2477rem + 0.4073vw, 1.5rem) !important;
  font-weight: 700;
  margin-bottom: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem);
}

@media (min-width: 768px) {
  .portfolio-card .info-card .main-text {
    width: min(100% - 0px, 75%);
  }
}

.portfolio-card .div1,
.portfolio-card .div2,
.portfolio-card .div3,
.portfolio-card .div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 80px;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, -0.3297rem + 3.055vw, 1.5625rem)
    clamp(0.625rem, -0.6479rem + 4.0733vw, 1.875rem);
  background-color: #1b74e4;
  color: var(--white);
  overflow: hidden;
}

.portfolio-card .div1 p,
.portfolio-card .div2 p,
.portfolio-card .div3 p,
.portfolio-card .div4 p {
  font-size: clamp(0.75rem, 0.3681rem + 1.222vw, 1.125rem);
  font-weight: 700;
  margin-bottom: 0;
}

.testimonial-namedown-card {
  position: relative;
  background-color: #1b2242;
  padding: clamp(0.9375rem, -0.0172rem + 3.055vw, 1.875rem);
  border-radius: 12px;
  color: white;
}

.bg-2d3454 {
  background-color: #2d3454;
}

.portfolio-style3 {
  background-color: #ebf0f8;
}

.portfolio-style3 .grid-scoreboard-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div1"
    "div2 div3"
    "div2 div4";
}

.portfolio-style3 .grid-scoreboard-view .div1 {
  grid-area: div1;
}

.portfolio-style3 .grid-scoreboard-view .div2 {
  grid-area: div2;
}

.portfolio-style3 .grid-scoreboard-view .div3 {
  grid-area: div3;
}

.portfolio-style3 .grid-scoreboard-view .div4 {
  grid-area: div4;
}

.portfolio-style3 .grid-scoreboard-view .div1 img {
  width: clamp(15.5rem, -16.6853rem + 77.3931vw, 31.25rem);
}

.portfolio-style3 .grid-scoreboard-view .div2 img {
  width: clamp(5rem, -0.6008rem + 17.9226vw, 10.5rem);
}

.portfolio-style3 .grid-surewash-view .div2.bg-surewash {
  background-image: url(../../../assets/img/other/case-studies/surewash-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-style3 .grid-surewash-view .div1,
.portfolio-style3 .grid-surewash-view .div2,
.portfolio-style3 .grid-surewash-view .div3,
.portfolio-style3 .grid-surewash-view .div4 {
  background-color: #008996;
}
