.framework-section-web {
    background-color: var(--black);
    color: var(--white);
}

.framework-section-web #custom-control .btn-flush svg {
    color: var(--white);
    width: 20px;
    height: auto;
}

.framework-section-web #custom-control .btn-flush:disabled svg {
    color: #FFFFFF40;
}

.framework-slider-web .card {
    background-color: #100f0f;
    border: 0.5px solid #47456B;
    border-radius: .75rem;
    min-height: 420px;
}

.framework-slider-web .card .card-body {
    padding: 1.875rem;
}

.framework-slider-web .card .card-body .title {
    font-size: clamp(1.125rem, 1.0528rem + 0.3082vw, 1.25rem);
    font-weight: 500;
    margin-bottom: 1rem;
}

.framework-slider-web .card .card-body .text {
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
    font-weight: 400;
    margin-bottom: 1rem;
}

.framework-slider-web .card .card-body .card-img {
    border-radius: .75rem;
    display: grid;
    place-items: center;
    height: 165px;
    /* height: 0;
    opacity: 0; */
    /* overflow: hidden; */
    /* transition: all 0.4s ease-in-out; */
}

.framework-slider-web .card .card-body .react-js-bg {
    background-color: #1F2D4080;
}

.framework-slider-web .card .card-body .nodejs-bg {
    background-color: #1F403680;
}

.framework-slider-web .card .card-body .php-bg {
    background-color: #301F4080;
}

.framework-slider-web .card .card-body .net-bg {
    background-color: #391F4080;
}

/* .framework-slider-web .card:hover .card-body .card-img {
    opacity: 1;
    height: 165px;
    transition: all 0.4s ease-in-out;
} */