.portfolio-style2 .grid-keepappy-view .div1,
.portfolio-style2 .grid-keepappy-view .div2,
.portfolio-style2 .grid-keepappy-view .div3,
.portfolio-style2 .grid-keepappy-view .div4 {
  background-color: #1aada3;
}

.portfolio-style2 .grid-inPractise-view .div1,
.portfolio-style2 .grid-inPractise-view .div2,
.portfolio-style2 .grid-inPractise-view .div3 {
  background-color: #009999;
}

.portfolio-style2 .grid-namedown-view .div1,
.portfolio-style2 .grid-namedown-view .div2,
.portfolio-style2 .grid-namedown-view .div3 {
  background-color: #2d3454;
}

.portfolio-style2 {
  background-color: #e8f7f6;
}

.portfolio-style2 .grid-keepappy-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div3"
    "div1 div4"
    "div2 div4";
}

.portfolio-style2 .grid-keepappy-view .div1 {
  grid-area: div1;
}

.portfolio-style2 .grid-keepappy-view .div2 {
  grid-area: div2;
}

.portfolio-style2 .grid-keepappy-view .div3 {
  grid-area: div3;
}

.portfolio-style2 .grid-keepappy-view .div4 {
  grid-area: div4;
}

/* .portfolio-style2 .grid-keepappy-view .div1 img {
  width: clamp(4.25rem, -1.3875rem + 24.4399vw, 13.75rem);
} */

.portfolio-style2 .grid-keepappy-view .div4 img {
  width: clamp(4rem, -2.0468rem + 30.5499vw, 16.875rem);
}

.portfolio-card .info-card .main-title {
  font-size: clamp(1.875rem, 1.6406rem + 0.75vw, 2.0625rem);
  font-weight: bold;
}

.portfolio-card .info-card .main-pera {
  font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem) !important;
  font-weight: normal;
}

.portfolio-card {
  border-radius: 0.75rem;
  padding: clamp(0.625rem, 0.2431rem + 1.222vw, 1rem);
}

.portfolio-card .info-card {
  padding: clamp(0.9375rem, 0.301rem + 2.0367vw, 1.5625rem);
}

.portfolio-card .info-card .logo-img {
  margin-bottom: 1.5rem;
}

.portfolio-card .info-card .main-text {
  font-size: clamp(1.375rem, 1.2477rem + 0.4073vw, 1.5rem) !important;
  font-weight: 700;
  margin-bottom: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem);
}

@media (min-width: 768px) {
  .portfolio-card .info-card .main-text {
    width: min(100% - 0px, 75%);
  }
}

.portfolio-card .div1,
.portfolio-card .div2,
.portfolio-card .div3,
.portfolio-card .div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 80px;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, -0.3297rem + 3.055vw, 1.5625rem)
    clamp(0.625rem, -0.6479rem + 4.0733vw, 1.875rem);
  background-color: #1b74e4;
  color: var(--white);
  overflow: hidden;
}

.portfolio-card .div1 p,
.portfolio-card .div2 p,
.portfolio-card .div3 p,
.portfolio-card .div4 p {
  font-size: clamp(0.75rem, 0.3681rem + 1.222vw, 1.125rem);
  font-weight: 700;
  margin-bottom: 0;
}

.portfolio-style3 .grid-scoreboard-view .div1,
.portfolio-style3 .grid-scoreboard-view .div2,
.portfolio-style3 .grid-scoreboard-view .div3,
.portfolio-style3 .grid-scoreboard-view .div4 {
  background-color: #396db5;
}

.portfolio-style3 {
  background-color: #ebf0f8;
}

.portfolio-style3 .grid-scoreboard-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div1"
    "div2 div3"
    "div2 div4";
}

.portfolio-style3 .grid-scoreboard-view .div1 {
  grid-area: div1;
}

.portfolio-style3 .grid-scoreboard-view .div2 {
  grid-area: div2;
}

.portfolio-style3 .grid-scoreboard-view .div3 {
  grid-area: div3;
}

.portfolio-style3 .grid-scoreboard-view .div4 {
  grid-area: div4;
}

.portfolio-style3 .grid-scoreboard-view .div1 img {
  width: clamp(15.5rem, -16.6853rem + 77.3931vw, 31.25rem);
}

.portfolio-style3 .grid-scoreboard-view .div2 img {
  width: clamp(5rem, -0.6008rem + 17.9226vw, 10.5rem);
}

.portfolio-style1 .grid-utrade-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "div1 div3"
    "div2 div3"
    "div4 div4";
}

.portfolio-style1 .grid-utrade-view .div1 {
  grid-area: div1;
}

.portfolio-style1 .grid-utrade-view .div2 {
  grid-area: div2;
}

.portfolio-style1 .grid-utrade-view .div3 {
  grid-area: div3;
}

.portfolio-style1 .grid-utrade-view .div4 {
  grid-area: div4;
}

.portfolio-style1 .grid-utrade-view .div2 img {
  width: clamp(6.25rem, -8.3885rem + 46.8432vw, 20.625rem);
}

.portfolio-style1 .grid-utrade-view .div3 img {
  width: clamp(3.75rem, -3.5692rem + 23.4216vw, 9.9375rem);
}

.portfolio-style1 {
  background-color: #eff6ff;
}

.portfolio-style7 .grid-keepappy-view {
  display: grid;
  grid-template-columns: 254px 354px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div2"
    "div1 div2"
    "div1 div3";
}

.portfolio-style7 {
  background-color: #e5f5f5;
}
