.donaghmore-primary-color {
  color: #7d5231;
}

.donaghmore-primary-bg {
  background-color: #8c5e3c;
}

.ptb--80 {
  padding: 80px 0 !important;
}

.bg_color--5 {
  background: #f8f9fc;
}

.br-10 {
  border-radius: 10px !important;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #191a4e;
}

.br-15px {
  border-radius: 15px;
}

.text-191a4e {
  color: #191a4e !important;
}

.fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 15px;
}
.fw-500 {
  font-weight: 500 !important;
}

ul.liststyle.bullet li {
  position: relative;
  padding-left: 23px;
  font-size: clamp(1.125rem, 1.0528rem + 0.3082vw, 1.25rem);
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  margin-bottom: 8px;
}

@media (min-width: 992px) {
  .p-lg-40 {
    padding: 40px !important;
  }
  .mb-lg--0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .mb-md--0 {
    margin-bottom: 0 !important;
  }
}

.portfolio-style3 {
  background-color: #ebf0f8;
}

.portfolio-style3 .grid-scoreboard-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div1"
    "div2 div3"
    "div2 div4";
}

.portfolio-style3 .grid-scoreboard-view .div1 {
  grid-area: div1;
}

.portfolio-style3 .grid-scoreboard-view .div2 {
  grid-area: div2;
}

.portfolio-style3 .grid-scoreboard-view .div3 {
  grid-area: div3;
}

.portfolio-style3 .grid-scoreboard-view .div4 {
  grid-area: div4;
}

.portfolio-style3 .grid-scoreboard-view .div1 img {
  width: clamp(15.5rem, -16.6853rem + 77.3931vw, 31.25rem);
}

.portfolio-style3 .grid-scoreboard-view .div2 img {
  width: clamp(5rem, -0.6008rem + 17.9226vw, 10.5rem);
}

.portfolio-card {
  /* border-radius: 0.75rem; */
  padding: clamp(0.625rem, 0.2431rem + 1.222vw, 1rem);
}

.portfolio-card .info-card {
  padding: clamp(0.9375rem, 0.301rem + 2.0367vw, 1.5625rem);
}

.portfolio-card .info-card .logo-img {
  margin-bottom: 1.5rem;
}

.portfolio-card .info-card .main-text {
  font-size: clamp(1.375rem, 1.2477rem + 0.4073vw, 1.5rem) !important;
  font-weight: 700;
  margin-bottom: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem);
}

@media (min-width: 768px) {
  .portfolio-card .info-card .main-text {
    width: min(100% - 0px, 75%);
  }
}

.portfolio-card .div1,
.portfolio-card .div2,
.portfolio-card .div3,
.portfolio-card .div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 80px;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, -0.3297rem + 3.055vw, 1.5625rem)
    clamp(0.625rem, -0.6479rem + 4.0733vw, 1.875rem);
  background-color: #19509c;
  color: var(--white);
  overflow: hidden;
}

.portfolio-style3 .grid-carlow-view .div2.bg-carlow {
  background-image: url(../../../assets/img/other/case-studies/bg-carlow.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-card .div1 p,
.portfolio-card .div2 p,
.portfolio-card .div3 p,
.portfolio-card .div4 p {
  font-size: clamp(0.75rem, 0.3681rem + 1.222vw, 1.125rem);
  font-weight: 700;
  margin-bottom: 0;
}

.testimonial-donaghmore-card {
  position: relative;
  background-color: #7d5231;
  padding: clamp(0.9375rem, -0.0172rem + 3.055vw, 1.875rem);
  border-radius: 12px;
  color: white;
}

.thumbnail-inner {
  position: relative;
}

.thumbnail-inner .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fw-700 {
  font-weight: 700;
}
