.flutter-services.style3 .card {
  border: 0;
  border-radius: 12px;
}
.flutter-services.style3 .card .number {
  font-size: clamp(1.625rem, 1.4688rem + 0.5vw, 1.75rem);
  font-weight: bold;
}

.flutter-services.style3 .card .title {
  font-size: clamp(1.375rem, 1.2188rem + 0.5vw, 1.5rem);
  font-weight: 500;
}

.btn-flush {
  padding-left: 20px;
}
