.surewash-primary-color {
  color: #008996;
}

.surewash-primary-bg {
  background-color: #008996;
}
.surewash-primary-bg-light {
  background-color: #d4e6f7;
  border-color: #d4e6f7;
}

.ptb--80 {
  padding: 80px 0 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.bg_color--5 {
  background: #f8f9fc;
}

.br-10 {
  border-radius: 10px !important;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #191a4e;
}
.br-15px {
  border-radius: 15px;
}
.fs-38 {
  font-size: 38px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 15px;
}
.fw-500 {
  font-weight: 500 !important;
}
@media (min-width: 992px) {
  .p-lg-40 {
    padding: 40px !important;
  }
  .mb-lg--0 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .mb-md--0 {
    margin-bottom: 0 !important;
  }
}

.section-title h1 {
  font-size: 40px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #191a4e;
}

.br-15px {
  border-radius: 15px;
}

.fs-38 {
  font-size: 38px !important;
}

.fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 15px;
}

.fw-500 {
  font-weight: 500 !important;
}

.bg-darkcyan {
  background-color: #008996;
}

.surewash-bg-property {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  position: absolute;
  z-index: 1;
}

.gamified {
  width: 200px;
  height: 200px;
  background-image: url(../../../assets/img/svg/sure-wash/gamified.svg);
}

.gamified-left-position {
  bottom: 0;
  left: -99px;
}

.gamified-right-position {
  top: 0;
  right: -25%;
}

@media (min-width: 768px) {
  .mb-md--0 {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 778px) {
  .gamified {
    width: 366px;
    height: 366px;
  }

  .handwash-position {
    width: 120px;
    height: 120px;
    background-image: url(../../../assets/img/svg/sure-wash/hand-wash.svg);
    top: 263px;
    left: 0;
  }

  .germs-position {
    width: 200px;
    height: 120px;
    background-image: url(../../../assets/img/svg/sure-wash/germs.svg);
    bottom: 375px;
    left: -100px;
  }
}

@media (min-width: 992px) {
  .gamified-left-position {
    top: 40%;
    left: -89px;
  }

  .gamified-right-position {
    top: 23%;
    right: -17%;
  }

  .p-lg-40 {
    padding: 40px !important;
  }
}

@media (min-width: 1100px) {
  .handwash-position {
    width: 173px;
    height: 173px;
  }

  .germs-position {
    width: 264px;
    height: 166px;
  }
}

ul.liststyle.bullet.bullet-white li::before {
  background: #ffffff;
}

.portfolio-style1 .grid-utrade-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "div1 div3"
    "div2 div3"
    "div4 div4";
}

.portfolio-style1 .grid-utrade-view .div1 {
  grid-area: div1;
}

.portfolio-style1 .grid-utrade-view .div2 {
  grid-area: div2;
}

.portfolio-style1 .grid-utrade-view .div3 {
  grid-area: div3;
}

.portfolio-style1 .grid-utrade-view .div4 {
  grid-area: div4;
}

.portfolio-style1 .grid-utrade-view .div1,
.portfolio-style1 .grid-utrade-view .div2,
.portfolio-style1 .grid-utrade-view .div3,
.portfolio-style1 .grid-utrade-view .div4 {
  background-color: #1b74e4;
}

.portfolio-style1 .grid-utrade-view .div2 img {
  width: clamp(6.25rem, -8.3885rem + 46.8432vw, 20.625rem);
}

.portfolio-style1 .grid-utrade-view .div3 img {
  width: clamp(3.75rem, -3.5692rem + 23.4216vw, 9.9375rem);
}

.portfolio-style1 {
  background-color: #eff6ff;
}

.portfolio-card {
  /* border-radius: 0.75rem; */
  padding: clamp(0.625rem, 0.2431rem + 1.222vw, 1rem);
}

.portfolio-card .info-card {
  padding: clamp(0.9375rem, 0.301rem + 2.0367vw, 1.5625rem);
}

.portfolio-card .info-card .logo-img {
  margin-bottom: 1.5rem;
}

.portfolio-card .info-card .main-text {
  font-size: clamp(1.375rem, 1.2477rem + 0.4073vw, 1.5rem) !important;
  font-weight: 700;
  margin-bottom: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem);
}

@media (min-width: 768px) {
  .portfolio-card .info-card .main-text {
    width: min(100% - 0px, 75%);
  }
}

.portfolio-card .div1,
.portfolio-card .div2,
.portfolio-card .div3,
.portfolio-card .div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 80px;
  border-radius: 0.75rem;
  padding: clamp(0.625rem, -0.3297rem + 3.055vw, 1.5625rem)
    clamp(0.625rem, -0.6479rem + 4.0733vw, 1.875rem);
  background-color: #1b74e4;
  color: var(--white);
  overflow: hidden;
}

.portfolio-card .div1 p,
.portfolio-card .div2 p,
.portfolio-card .div3 p,
.portfolio-card .div4 p {
  font-size: clamp(0.75rem, 0.3681rem + 1.222vw, 1.125rem);
  font-weight: 700;
  margin-bottom: 0;
}

.testimonial-surewash-card {
  position: relative;
  background-color: #007784;
  padding: clamp(0.9375rem, -0.0172rem + 3.055vw, 1.875rem);
  border-radius: 12px;
  color: white;
}

.bg-009999 {
  background-color: #19a49b;
}

.portfolio-style2 {
  background-color: #e8f7f6;
}

.portfolio-style2 .grid-keepappy-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-gap: clamp(0.3125rem, -0.2603rem + 1.833vw, 0.875rem);
  grid-template-areas:
    "div1 div3"
    "div1 div4"
    "div2 div4";
}

.portfolio-style2 .grid-keepappy-view .div1 {
  grid-area: div1;
}

.portfolio-style2 .grid-keepappy-view .div2 {
  grid-area: div2;
}

.portfolio-style2 .grid-keepappy-view .div3 {
  grid-area: div3;
}

.portfolio-style2 .grid-keepappy-view .div4 {
  grid-area: div4;
}

.portfolio-style2 .grid-keepappy-view .div1 img {
  width: clamp(4.25rem, -1.3875rem + 24.4399vw, 13.75rem);
}

.portfolio-style2 .grid-keepappy-view .div4 img {
  width: clamp(4rem, -2.0468rem + 30.5499vw, 16.875rem);
}

.portfolio-style2 .grid-mosaic-view .div1,
.portfolio-style2 .grid-mosaic-view .div2,
.portfolio-style2 .grid-mosaic-view .div3,
.portfolio-style2 .grid-mosaic-view .div4 {
  background-color: #58b392;
}
