.achieved-clients-achievement .card {
  border-radius: 0.75rem;
  border: none;
}

.achieved-clients-achievement .card .card-body {
  padding: clamp(1.625rem, 1.1563rem + 1.5vw, 2rem);
  padding-bottom: 0 !important;
}

.achieved-clients-achievement .card .card-body .sab-text {
  font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
  font-weight: 500;
}

.achieved-clients-achievement .card .card-body .link {
  font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  text-decoration: underline !important;
}

.achieved-clients-achievement .div1.card {
  background-color: #025698;
}

.achieved-clients-achievement .div2.card {
  background-color: #647dbd;
}

.achieved-clients-achievement .div3.card {
  background-color: #1aada3;
}

.sub-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 4%;
}