

.lasting-solutions-careers {
    background-color: var(--black);
    background-image: url(../img/other/shape/scroll-bg-left.png), url(../img/other/shape/lasting-solutions-careers-right-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: 0 150px, 100% 0%;
}

.flutter-card-careers .card {
    background: transparent;
    border: 0.5px solid #47456B;
    border-radius: 12px;
    height: 272px;
    width: 364px;
}

.flutter-card-careers .card:hover {
    background: linear-gradient(180deg, rgba(5, 5, 43, 0.2) 0%, rgba(67, 67, 199, 0.2) 100%);
}

.flutter-card-careers .title {
    font-size: clamp(1.125rem, 0.9688rem + 0.5vw, 1.25rem);
    font-weight: 500;
}
