.hero-section {
  display: flex;
  position: relative;
  min-height: 100vh;
  /* height: 768px; */
  /* background-color: #000002; */
  /* background-image: url(../../../assets/img/svg/custom/hero_img.svg);
  background-size: cover;
  background-position: center; */
  overflow: hidden;
  scroll-behavior: smooth;
  z-index: 0;
}

.carousel-image {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* .hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  background: linear-gradient(90deg, #262a6d, #823c36d9);
  overflow: hidden;
  z-index: -1;
  filter: blur(100px);
  animation: afterMove 5s infinite alternate ease-in-out;
}

.hero-section::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22%;
  height: 22%;
  border-radius: 50%;
  filter: blur(100px);
  background-color: #823c36ee;
  z-index: -1;
  animation: beforeMove 5s infinite alternate ease-in-out;
} */

.hero-section .hero-contain {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  color: var(--white);
  /* padding: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem) 0; */
  height: 100%;
  margin-top: 150px;
}

.hero-section .hero-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  text-align: start;
  color: var(--white);
  /* padding: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem) 0; */
  /* padding: 80px; */
  height: 100%;
  /* margin-top: 50px; */
}

.hero-section .hero-container .hero-badge {
  background: #141522;
  border: 0.5px solid #47456b99;
  padding: 0.5rem 1.125rem;
}

.hero-section .hero-container .main-title {
  font-size: 60px !important;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .hero-section .hero-container .main-title {
    font-size: 30px !important;
  }
  .hero-section .hero-container .sub-title {
    font-size: 14px !important;
  }
}

/* @media (max-width: 1200px) {
  .hero-res-content {
    margin-top: 10px;
  }
} */

@media (min-width: 1200px) {
  .hero-container {
    margin-top: 95px;
  }
}

@media (max-width: 768px) {
  .hero-container {
    margin-top: 120px;
  }
  .hero-section .hero-container .sub-title {
    font-size: 18px !important;
  }
}

@media (max-width: 576px) {
  .hero-container {
    margin-top: 50px;
  }
  .hero-section .hero-container .sub-title {
    font-size: 18px !important;
  }
}

@media (max-width: 424px) {
  .hero-container {
    margin-top: 60px;
  }
}

@media (max-width: 376px) {
  .hero-container {
    margin-top: 40px;
  }
}

@media (max-width: 321px) {
  .hero-container {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .hero-container {
    margin-top: 80px;
  }
}

.hero-section .hero-container .sub-title {
  font-size: 20px !important;
  font-weight: 400;
  border-left: 2.5px solid #339abc;
}

.hero-section .hero-contain .content {
  margin-inline: 38px;
}

.hero-contain {
  position: relative;
  color: var(--white);
  padding: clamp(1.875rem, -0.6708rem + 8.1466vw, 4.375rem) 0;
  height: 100%;
  z-index: 0;
}
.hero-contain::after {
  content: '';
  position: absolute;
  top: 0;
  left: -102px;
  width: 50%;
  height: 50%;
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: -10% 25%;
  z-index: 1;
}

@keyframes afterMove {
  0% {
    right: 0%;
    top: 10%;
    background: linear-gradient(0deg, #262a6d, #823c36d9);
    transform: scale(1);
  }
  25% {
    right: 10%;
    bottom: 25%;
    background: linear-gradient(25deg, #262a6d, #823c36d9);
    transform: scale(1.4);
  }
  50% {
    right: 30%;
    top: 50%;
    transform: scale(1.7);
    background: linear-gradient(50deg, #262a6d, #823c36d9);
  }
  75% {
    right: 50%;
    top: 25%;
    background: linear-gradient(75deg, #262a6d, #823c36d9);
    transform: scale(1.4);
  }
  100% {
    right: 60%;
    top: 10%;
    background: linear-gradient(90deg, #262a6d, #823c36d9);
    transform: scale(1.2);
  }
}

@keyframes beforeMove {
  0% {
    left: 10%;
    transform: scale(1);
  }
  25% {
    left: 25%;
    transform: scale(1.4);
  }
  50% {
    left: 70%;
    transform: scale(1.8);
  }
  75% {
    left: 25%;
    transform: scale(1.4);
  }
  100% {
    left: 10%;
    transform: scale(1.2);
  }
}

@media (max-width: 768px) {
  .hero-section::after {
    animation: none;
    position: static;
    display: none;
  }

  .hero-section::before {
    animation: none;
    position: static;
    display: none;
  }
  .hero-contain {
    min-height: 100vh;
    padding: 1.875rem 0;
  }

  .hero-section .hero-contain .main-title {
    font-size: 1.875rem !important;
  }

  .hero-section .hero-contain .sub-title {
    font-size: 1.125rem !important;
  }
}
